div {
  display: inline-block;
  background: white;
  color: white;
  border-spacing: 1px;
  font-size: 10px;
}

.border {
  border: #dddddd solid 1px;
  border-radius: 5px;
}

a {
  padding: 5px 8px;
  text-decoration: none;
  margin: 1px;
  color: #c182ff;
}


nav ul {
  background: white;
  margin-right: 1px;
}

li {
  display: inline-block;
  list-style: none;
}

li .border_td {
  height: 10px;
  width: 20px;
}

.border_td_bottom {
  height: 10px;
  width: 40px;
  text-align: center;
}

.border:hover {
  background: #c182ff;
  color: white;
  border: rgb(123, 17, 187) solid 1px;
  border-radius: 5px;
}

.table_one, .table_second {
  display: inline-block;
}

p {
  margin-right: 2px;
  margin-left: 2px;
}

.border_bottom {
  width: 20px;
  display: inline;
  border-bottom: 2px dotted lightgray;
}