/*шрифт не совпал, поэтому есть незначительное расхождение в размере.Файл "style1" относится и к "task1", и к "task2."*/
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700');

nav {
    background-color: #c182ff;
    padding: 0;
}

nav li {
    color: #c182ff;
    width: 20px;
    height: 40px;
    display: inline;
    padding-right: 23px;
}

.menu li a {
    padding: 6px 3px;
    text-decoration: none;
    transition: .5s linear;
    color: white;
    line-height: 40px;
    background-color: #c182ff;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

.menu li a:hover {
    color: rgb(160, 160, 160);
    background-color: rgb(238, 238, 238);
}

ul{
    margin: 0;
    height: 40px;
}

.margin {
    margin-left: 30px;

}
.more {
    float: right;
    margin-right: 20%;
}