tr:nth-child(2n) {
    background:#ddebf8;
}

td:nth-child(2n+3) {
    background: #f2f2dd;
    color: black;
}

table {
    width: 1840px;
    height: 325px;
    /*размеры таблицы сделаны "на глазок", ибо точное совпадение может быть при
     условии использования такого же шрифта*/
    text-align: center;
    border-spacing: 0;
}

td {
    font-size: 33px;
    border-bottom: 2px solid #d4dce3;
}