input[type="checkbox"] {
  display: none;
}

div {
  font-size: 28px;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

span {
  text-align: center;
  color: white;
  border-radius: 10px;
  padding: 0 10px 5px 10px;
  float: left;
  margin: 10px;
}

label {
  display: inline-block;
  margin: 10px 70px 10px auto;
  float: left;
  font-weight: normal;

}

label[for="red"] {
  color: red;
}

label[for="green"] {
  color: green;
}

label[for="blue"] {
  color: blue;
}

input[type="checkbox"]#red:checked ~ .red {
  display: none;
}

input[type="checkbox"]#green:checked ~ .green {
  display: none;
}

input[type="checkbox"]#blue:checked ~ .blue {
  display: none;
}

input[type="checkbox"]#red:checked ~ label[for="red"] {
  opacity: 0.5;
}

input[type="checkbox"]#green:checked ~ label[for="green"] {
  opacity: 0.5;
}

input[type="checkbox"]#blue:checked ~ label[for="blue"] {
  opacity: 0.5;
}