
@black: #000;
@white: #fff;

.triangle {
  border: 15px solid transparent;
  border-right: 15px solid @white;
}
section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-content: center;
  background: @black;

  .header {
    flex-basis: 80%;
    align-content: center;
    display: flex;
    font-size: 36px;
    font-weight: 200;
    text-transform: uppercase;
    color: #ed7f2b;
    order: 1;
    margin-bottom: 0;

    .box-1-header {
      margin: auto;
    }

    .header span {
      color: #3270a6;
    }
  }


  .content {
    display: flex;
    flex: 1;
    align-items: center;
    align-content: center;
    position: relative;
    margin: 0 10px 10px 10px;

    .image {
      width: 111px;
      height: 111px;
    }

    .before {
      content: '';
      position: absolute;
      top: 39%;
      left: 140px;
      margin-top: -15px;
      margin-left: -30px;
      .triangle;
    }

    .text-reviews {
      background: @white;
      margin-left: 28px;
      padding: 0;

      .block-title {
        border-bottom: 2px dotted @black;
        color: #7D99C7;

        i {
          .user-name {
            background: @white;
            padding-right: 10px;
          }

          .right {
            float: right;
          }

          .user-tag {
            background: @white;
          }
        }
        i:before {
          content: "-";
        }

        p {
          margin: 15px;
        }
      }
    }
  }


}

@media (max-width: 1024px) {
  section {
    display: block;
  }

  .content {
    margin: 30px;
  }

  .before {
    display: none;
  }

  .header {
    order: 3;
    align-content: center;
    padding: auto;
  }

  .box-1-header {
    padding-left: 100px;
  }
}