.wrapper {
  width: 1500px;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  margin: 18px auto;
}

.logo {
  width: auto;
  float: left;
  margin: 10px 100px auto 100px;
}

.header-menu {
  display: flex;
  margin: 0 auto;
}

li a:hover {
  border-bottom: 2px solid #3070A8;
}

li a:active {
  border-bottom: 2px solid #3070A8;
  color: red;
}

li a:focus {
  border-bottom: 2px solid #3070A8;
  color: red;
}

ul {
  align-content: right;
  list-style: none;
  padding: 13px 0 12px 0;
  margin: 0 auto;
}

li {
  display: inline-block;
  padding: 20px 7px 0 20px;
  margin: 0 auto;
  font-size: 14px;
  color: #956CB6;
}

a {
  text-decoration: none;
  text-align: right;
  font-weight: bolder;
  padding-bottom: 28px;
  text-transform: uppercase;
}

.content {
  width: 1400px;
  height: 700px;
  background: url("title-back.jpg") no-repeat;
  margin: 0 auto;
  padding-right: 10px;
  color: white;
  position: absolute;
  left: 50px;
  top: 150px;
  font-family: 'Open Sans', sans-serif;
}

.content-box {
  position: absolute;
  top: 100px;
  width: 100%;
}

p {
  width: 40%;
  text-align: center;
  margin: 6px auto 64px 30%;
  padding-bottom: 20px;
  font-family: Calibri sans-serif;
  font-size: 20px;
}

span {
  display: block;
  text-align: center;
  font-size: 35px;
  text-transform: none;
}

.button_name {
  display: block;
  color: white;
  text-align: center;
  border: 1px solid white;
  padding: 16px 64px;
  text-decoration: none;
  text-transform: uppercase;
  width: max-content;
  margin: -43px auto;
}

h3 {
  width: 800px;
  text-overflow: clip;
  text-align: center;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 45px;
  font-weight: 200;
  text-transform: uppercase;
}