div {
  width: 292px;
  border: 3px solid #EE8129;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 3px 3px #CBE2EF;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 5% 40%;
}

.value {
  color: white;
  background: #EE8129;
  padding: 24px;
  margin: 0;
  font-size: 23px;
  font-weight: 600;
}

.iconic {
  font-size: 21px;
  margin: 0 auto;
  padding: 18px 18px 18px 31px;
}

.value25 {
  font-size: 67px;
  font-weight: 600;
  text-transform: none;
  line-height: 65px;
  margin: 0 auto;
}

.value25 sub {
  font-size: 16px;
  position: relative;
  top: -5px;
  padding-bottom: 0;
}

.value25 sup {
  font-size: 20px;
  position: relative;
  top: -14px;
  left: -5px;
  font-weight: 100;
}

ul {
  padding-left: 0;
  padding-top: 0;
  margin: 0;
}

.aqva {
  background-color: #EDF5FD;
}

li {
  padding: 2px 5px 2px 50px;
  list-style-type: none;
  color: #888c94;
  margin: 9px auto;
  width: 70%;
  font-size: 15px;
  text-align: left;
  text-transform: none;
  background: url(arrow.png) no-repeat;
  background-position: 30px 3px;
}

.center_link {
  padding: 11px 0;
  margin: 15px auto 30px;
  width: 86%;
  font-weight: 600;
  font-size: 13px;
  text-decoration: none;
  border-radius: 5px;
  display: block;
  color: white;
  background: #ee8129;
  box-shadow: #b3560b 0 3px 0 0;
}