h1 {
    text-align: right;
    color: orange;
}

i {
    background-color: green;
}

p:first-letter {
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    color: red;
}

.one{
    color: orange;
}

.two {
    color: blue;
}

.red {
    color: red;
}

.green {
    color: green;
}

.green2 {
    background-color: green;
    height: 10px;
    width: 25%;
}

table {
    border: 2px solid black;
    border-spacing: 2px;
    text-align: center;
    font-weight: bold;
    width: 70%;
}

td {
    border: 2px solid black;
    border-spacing: 2px;
}

tr{
    border: 2px solid black;
    border-spacing: 2px;
}

.name {
    text-align: left;
    color: orange;
}
