a {
    color: blue;
}

a[href^="https://"] {
    color: #f70;
}

a[href*="google"] {
    color: #666;
}

a[target="_blank"]+span:after {
    content: "\21f1";
    margin-left: 7px;
    color: #f70;
    display: inline-block;
    -webkit-transform: scale(-1.5, 1.5);
    -moz-transform: scale(-1.5, 1.5);
    -ms-transform: scale(-1.5, 1.5);
    -o-transform: scale(-1.5, 1.5);
    transform: scale(-1.5, 1.5);
