.block {
  width: 325px;
  border: 3px solid #EE8129;
  border-radius: 5px;
  background: white;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  position: relative;
}

.container {
  width: 1002px;
  position: relative;
  margin: auto;
}

.standard {
  border: 1px solid lightgray;
  margin-right: -10px;
  margin-top: 10px;
  position: relative;
}

.ultimate {
  border: 1px solid lightgray;
  margin-left: -12px;
  position: relative;
}

.best_value {
  box-shadow: 0 0 3px 3px #CBE2EF;
  margin: 0;
  position: relative;
  z-index: 10;
}

.standard .info_price {
  background: #2BC2D4;
  padding: 22px;
}

.ultimate .info_price {
  background: #00B89A;
  padding: 22px;
}

.best_value .info_price {
  padding: 28px;
}

.info_price {
  color: white;
  background: #EE8129;

  margin: 0;
  font-size: 23px;
  font-weight: 600;
}

.iconic {
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto;
  padding: 18px 18px 18px 31px;
}

.price {
  font-size: 82px;
  font-weight: 600;
  text-transform: none;
  line-height: 65px;
  margin: 0 auto;
}

.price sub {
  font-size: 17px;
  position: relative;
  top: -5px;
  padding-bottom: 0;
}

.price sup {
  font-size: 23px;
  position: relative;
  top: -14px;
  left: -5px;
  font-weight: 100;
}

ul {
  padding-left: 0;
  padding-top: 0;
  margin: 0;
}

.aqva {
  background-color: #EDF5FD;
}

li {
  list-style-type: none;
  color: #888c94;
  margin: 1px auto;
  padding: 8px 0 5px 0;
  width: 90%;
  font-size: 15px;
  text-align: left;
  text-transform: none;
  background-color: #F5F5F6;
}

.link {
  padding: 11px 0 15px 0;
  margin: 36px auto 30px;
  width: 86%;
  font-weight: 600;
  font-size: 13px;
  text-decoration: none;
  border-radius: 5px;
  background: #2F70A8;
  display: block;
  color: white;
  box-shadow: #2F70A8 0 3px 0 0;

}

.center_link {
  margin-bottom: 40px;
  background: #ee8129;
  box-shadow: #b3560b 0 3px 0 0;
}

.price_box {
  width: 794px;
  display: block;
  margin: auto;
  font-size: 30px;
  padding: 10px;
}

span {
  content: url("arrow.png");
  margin: 0 10px;
}