.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-content: center;
    background: #000;
}

.container div {
    margin: 20px;
    align-content: center;
}

.image {
    width: 111px;
    height: 111px;
}

.image-ninja {
    margin: 20px;
}

.header {
    flex-basis: 80%;
    align-content: center;
    display: flex;
    font-size: 36px;
    font-weight: 200;
    text-transform: uppercase;
    color: #ed7f2b;
    order: 1;
    margin-bottom: 0;
}

.box-1-header{
    margin: auto;
}

.header span {
    color: #3270a6;
}

.content {
    display:flex;
    flex: 1;
    flex-basis: 30%;
    align-items: center;
    align-content: center;
    position: relative;
    margin-top: 0;
}

.before {
    content: '';
    position: absolute;
    top: 39%;
    left: 130px;
    margin-top: -15px;
    margin-left: -30px;
    border: 15px solid transparent white transparent transparent;
}

.content .text-reviews {
    background: white;
    margin-left: 28px;
    padding: 0;
}

.block-title {
    border-bottom: 2px dotted black;
    color: #7D99C7;
}

.user-name {
    background: white;
    padding-right: 10px;
}

.user-tag {
    background: white;
}

i:before {
    content: "-";
}

.right {
    float: right;
}

p {
    margin: 15px;
}

@media (max-width: 1024px) {
    .container {
        flex-wrap: wrap-reverse;
    }

    .header, .content {
        flex-basis: 60%;
        padding: auto;
        padding-left: 10%;
        padding-right: 10%;
    }

    .before {
        display: none;
    }

    .header {
        order: 3;
        align-content: center;
        padding: auto;
    }

    .box-1-header {
        padding-left: 100px;
    }

    .text-reviews-david {
        order: 1;
    }

    .text-reviews-staciya {
        order: 2;
    }
}